<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>
  <% if !@task.completed %>
    This task is not completed yet
  <% else %>
    This task is completed
  <% end %>
</p>


<%= link_to "Back to list", tasks_path %>